* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font", "Symbols Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#custom-media-controls,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode {
  padding: 0 3px;
  margin: 0 2px;
}

/* Media controls */
#custom-media-controls {
  color: white;
}

#custom-media-controls:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#clock {
  font-weight: bold;
}

#battery {
}

#battery icon {
  color: red;
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory {
}

#network {
}

#tray {
}
